.header {
    padding: 23.5px 128px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.header__item {
    color: #808191;
    font-family: 'Noah', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    margin-right: 8px;
    padding: 8px 16px;
    display: inline-block;
    text-align: center;
}

.header__item:last-child {
    margin-right: 0;
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__buttons--adaptive {
    display: none;
}

.header__buttons .button {
    padding-left: 24px;
    padding-right: 24px;
}

.header__buttons .button:last-child {
    margin-left: 24px;
}


@media (max-width: 1023px) {
    .header {
        padding: 20px 40px;
    }

    .header__nav {
        display: none;
    }

    .header__buttons {
        display: none;
    }

    .header__buttons--adaptive {
        display: flex;
    }

    .header__buttons .button img {
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 639px) {
    .header {
        padding: 10px 16px;
    }

    .header__logo {
        height: 32px;
    }
}
