.header {
    padding: 23.5px 128px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.header__item {
    color: #808191;
    font-family: 'Noah', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    margin-right: 8px;
    padding: 8px 16px;
    display: inline-block;
    text-align: center;
}

.header__item:last-child {
    margin-right: 0;
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__buttons .button {
    padding-left: 24px;
    padding-right: 24px;
}

.header__buttons .button:last-child {
    margin-left: 24px;
}
