.header {
    padding: 23.5px 128px;
    display: flex;
    align-items: center;
}

.header__item {
    color: #808191;
    font-weight: bold;
    margin-right: 8px;
}

.header__item:last-child {
    margin-right: 0;
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__buttons .button:last-child {
    margin-left: 24px;
}
