.table-desktop .pricing__table {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #FAFAFA;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #D6D6D6;
    border-radius: 20px;
    font-size: 22px;
    line-height: 22px;
    color: #171717;
}

.table-desktop .pricing__row {
    border-right: 1px solid #D6D6D6;
    border-top: 1px solid #D6D6D6;
    padding: 20px;
}

.table-desktop .pricing__row_price {
    font-weight: 700;
    border-top: none;
}

.table-desktop .pricing__row_title {
    color: #0047FF;
    padding-top: 10px;
    font-weight: bold;
    width: 310px;
}

.table-desktop .pricing__column_header {
  font-weight: 600;
  font-size: 27px;
  line-height: 27px;
  font-family: 'Unbounded', sans-serif;
  padding: 20px;
  border-top: none;
}

.table-desktop .pricing__row:nth-child(5n) {
    border-right: none;
}

.table-desktop .pricing__row_button {
    padding: 20px 16px;
}

.table-desktop .pricing__row_max {
    background-color: #ffffff;
}

.table-desktop .pricing__row_highlight {
  color: #EC279D;
}

.table-desktop .pricing__row_highlight-mini {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding-top: 25px;
    display: inline-block;
}
