.footer {
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer__nav {
    display: flex;
    margin-top: 24px;
}

.footer__nav:last-child {
    margin-top: 48px;
}

.footer__nav:last-child .footer__item {
    margin-right: 24px;
}

.footer__nav:last-child .footer__item:last-child {
    margin-right: 0;
}

.footer__link {
    color: #808191;
    font-family: 'Noah', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    margin-right: 8px;
    padding: 8px 16px;
    display: inline-block;
    text-align: center;
}

.footer__social-network {
    margin-right: 24px;
}

.footer__link:last-child, .footer__social-network:last-child {
    margin-right: 0;
}

@media (max-width: 1023px) {
    .footer__link {
        font-size: 18px;
    }
}
