.protocol {
  position: relative;
  padding: 70px;
  display: flex;
  align-items: center;
}

.protocol__content {
  margin-bottom: 150px;
  max-width: 485px;
}

.protocol__content .button {
  padding-left: 24px;
  padding-right: 24px;
  width: auto;
}

.protocol__content .button span {
  width: 100%;
}

.protocol__title {
  font-family: 'Unbounded', sans-serif;
  line-height: 42px;
  font-size: 34px;
  margin-bottom: 16px;
}

.protocol__description {
  line-height: 27px;
  font-size: 22px;
  margin-bottom: 32px;
}

.protocol__badges {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  display: flex;
  gap: 10px;
  padding: 65px 17px 70px 70px;
  border-radius: 0 60px 0 0;
  background-color: #EBEBEB;
}

.protocol__badge {
  padding: 5px 10px;
  border-radius: 64px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  font-family: 'Unbounded', sans-serif;
  flex-direction: column;
  padding: 16px;
}

.protocol__badge:nth-child(1) {
  background-color: #EC279D;
}

.protocol__badge:nth-child(2) {
  background-color: #8793F3;
  transform: rotate(2.39deg)
}

.protocol__badge:nth-child(3) {
  background-color: #0E1C36;
  transform: rotate(-6.87deg)
}

.pricing {
  display: flex;
  flex-direction: column;
  padding: 70px;
}

.pricing__title {
  font-size: 34px;
  line-height: 44px;
  font-family: 'Unbounded', sans-serif;
  margin-bottom: 16px;
}

.pricing__description {
  font-size: 22px;
  line-height: 27px;
  color: #474747;
  margin-bottom: 64px;
  max-width: 748px;
}
