.button {
    background-color: #3B82F6;
    width: 100%;
    padding: 14px 0;
    color: #ffffff;
    font-weight: bold;
    border-radius: 6px;
}

.button span {
    display: ruby;
}

.gray {
    background-color: #EBEBEB;
    padding: 9.9px !important;
}
