.pricing__table {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #D6D6D6;
  background-color: #FAFAFA;
}

.pricing__column {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #D6D6D6;
}

.pricing__column:nth-child(4) {
  background-color: #ffffff;
}

.pricing__column:last-child {
  border-right: none;
}

.pricing__cell {
  max-width: 450px;
  padding: 20px;
  border-bottom: 1px solid #D6D6D6;
  color: #171717;
  font-size: 22px;
  min-height: 74px;
}

.pricing__cell:last-child {
  border-bottom: none;
}

.pricing__cell--plan {
  max-width: 310px;
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
  color: #0047FF;
  padding-top: 10px;
  padding-left: 20px;
}

.pricing__cell--title {
  color: #0047FF;
  font-size: 27px;
  line-height: 27px;
}

.pricing__cell--title, .pricing__cell--plan-name {
  font-family: 'Unbounded', sans-serif;
  font-size: 27px;
  line-height: 27px;
  font-weight: 600;
  height: 110px;
}

.pricing__cell--highlight {
  color: #ff4081;
  display: flex;
  flex-direction: column;
}
